<div class="mx-auto mw-90 top-mg-50">
  <div class="row">
    <div class="col-md-3">
      <div class="card card-dark card-outline">
        <div class="card-header">
          <h3 class="card-title">Informacje</h3>
          <div class="card-tools">
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered top-mg-30">
            <tr>
              <td class="text-uppercase text-bold" style="width: 50%">Nazwa</td>
              <td>{{host?.name}}</td>
            </tr>
            <tr>
              <td class="text-uppercase text-bold" style="width: 50%">Adres IP</td>
              <td>{{host?.ip}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card card-danger card-outline">
        <div class="card-header">
          <h3 class="card-title">Aktywność</h3>
          <div class="card-tools">
            <button class="btn btn-sm"
                    [class.btn-danger]="currentActivityType == activityType.All"
                    [class.btn-outline-danger]="currentActivityType != activityType.All"
                    (click)="changeActivityType(activityType.All)">Wszystkie
            </button>
            <button class="btn btn-sm"
                    [class.btn-danger]="currentActivityType == activityType.In"
                    [class.btn-outline-danger]="currentActivityType != activityType.In"
                    (click)="changeActivityType(activityType.In)">Dane odebrane
            </button>
            <button class="btn btn-sm"
                    [class.btn-danger]="currentActivityType == activityType.Out"
                    [class.btn-outline-danger]="currentActivityType != activityType.Out"
                    (click)="changeActivityType(activityType.Out)">Dane wysłane
            </button>

            <button class="btn btn-sm btn-outline-danger ml-5" (click)="open()">
              <i class="ion-ios-toggle"></i>
              Ustaw inne parametry
            </button>

          </div>
        </div>
        <div class="card-body">
          <div class="top-mg-30" style="display: block" *ngIf="isDataAvailable">
            <app-activity-chart *ngIf="currentActivityType == activityType.All"
                                [name]="'Aktywność[B]'"
                                [color]="'#c45850'"
                                [values]="allValues"
                                [labels]="timestamps">
            </app-activity-chart>
            <app-activity-chart *ngIf="currentActivityType == activityType.In"
                                [name]="'Aktywność[B]'"
                                [color]="'#c45850'"
                                [values]="inValues"
                                [labels]="inTimestamps">
            </app-activity-chart>
            <app-activity-chart *ngIf="currentActivityType == activityType.Out"
                                [name]="'Aktywność[B]'"
                                [color]="'#c45850'"
                                [values]="outValues"
                                [labels]="outTimestamps">
            </app-activity-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
