<div class="row">
  <div class="col-lg-4 col-6">
    <div class="small-box bg-info">
      <div class="inner">
        <h3>{{format(dailyStats)}} KB</h3>
        <p>danych przesłanych dzisiaj</p>
      </div>
      <div class="icon">
        <i class="ion ion-arrow-graph-up-right"></i>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-6">
    <div class="small-box bg-success">
      <div class="inner">
        <h3>{{format(weeklyStats)}} KB</h3>
        <p>danych przesłanych w tym tygodniu</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-6">
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>{{format(monthlyStats)}} KB</h3>
        <p>danych przesłanych w tym miesiącu</p>
      </div>
      <div class="icon">
        <i class="ion ion-archive"></i>
      </div>
    </div>
  </div>
</div>
