@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

.mw-90 {
  max-width: 90%;
}


.top-mg-30 {
  margin-top: 30px;
}

.top-mg-50 {
  margin-top: 50px;
}

.top-mg-150 {
  margin-top: 150px;
}

.br-0 {
  border-radius: 0;
}
